img {
    width: 600px;
    height: 300px;
    justify-content: center;
    border-radius: 5px;
   

}

.border-div {
    padding: 10px;
    text-align: center;
    justify-content: center;
    border: 1.7px solid rgba(1, 19, 42, 0.461);
    margin: 2%;
    border-radius: 10px;


}
p{
    text-align: start;
    
}
@media screen and (max-width: 786px){
    img {
        width: 400px;
    }
}